input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
::-webkit-clear-button
{
  /*   display: none; Hide the button */
/*    -webkit-appearance: none;  turn off default browser styling */
}
